@model CleanArch.Application.ViewModels.CourseViewModel

<div class="container body-content">
    <div class="row course-content">
        @foreach(var course in Model.Courses)
            {
        <div class="course-image-container">
            <div>
                @course.Name
            </div>
            <div>
                @course.Description
            </div>
        </div>
            }
    </div>
</div>
